@using Eshop.Models;
@model LoginModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center my-4">Přihlášení</h1>

<div class="d-flex justify-content-center">
    <form asp-action="Login" class="card p-4 shadow-sm" style="width: 350px;">
        <div class="mb-3">
            <label asp-for="Mail" class="form-label fw-bold">Email s účtem:</label>
            <input asp-for="Mail" type="email" class="form-control" placeholder="Váš email..." required />
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label fw-bold">Vaše heslo:</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="••••••" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Přihlásit se</button>

        <div class="text-center mt-3">
            <a asp-action="Register" class="text-decoration-none">Nemáte účet? Registrujte se</a>
        </div>
    </form>
</div>
