@model Dictionary<string,string>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach (var pair in Model){
    <a asp-action="@pair.Key">@pair.Value</a>
}